@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@import 'libs/font';
@import 'blocks/buttons';
@import 'blocks/titles';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 1140px;
    margin: 0 auto;
}


// index
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/promo';
@import 'blocks/reviews';
@import 'blocks/video';
@import 'blocks/clients';
@import 'blocks/footer';

// sponsors
@import 'blocks/sponsors/sponsors';

//exhibitors
@import 'blocks/exhibitors/exhibitors';

//speakers
@import 'blocks/speakers/speakers';

//media
@import 'blocks/media/media';

//contacts
@import 'blocks/contacts/contacts';
@import 'blocks/contacts/feedback';

//registration
@import 'blocks/registration/registration';