.clients {
    background-color: #f8f3e9;
    min-height: 285px;
    &__container {
        position: relative;
    }
    &__wrapper {
        margin: 30px 0px 70px 0px;
        display: grid;
        grid-template-columns: repeat(6, 175px);
        grid-template-rows: 120px;
        justify-content: space-between;
    }
    &__item {
        background-color: #fff;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            display: block;
        }
    }
    i {
        border: solid #c99c47;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 12px;
    }
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &-left {
            left: -30px;
            i {
                transform: rotate(135deg);
            }
        }
        &-right {
            right: -30px;
            i {
                transform: rotate(-45deg);
            }
        }
    }

}