.header {
    min-height: 90px;
    &__wrapper {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 555px 160px;
        justify-content: space-between;
        grid-template-rows: 65px;
        align-items: center;
    }
    &__aside {
        display: grid;
        grid-template-columns: 165px 350px;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        height: 65px;
        align-items: center;
    }
    &__item {
        display: flex;
        height: 35px;
        align-items: center;
    }
}