.promo {
    &__text {
        margin-top: 70px;
        text-align: center;
        font-size: 17px;
        font-weight: 300;
    }
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        justify-content: space-between;

    }
    &__img {
        width: 165px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__name {
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }
    &__descr {
        font-size: 15px;
        text-align: center;
        color: #323232;
    }
    &__btn {
        display: block;
        margin: 20px auto 0px auto;
        background-color: #d4c198;
        width: 120px;
        color: #ffffff;
    }
    &__place {
        margin-top: 10px;
        font-size: 11px;
        text-align: center;
        color: #919191;
    }
    &__btns {
        width: 320px;
        margin: 40px auto 50px auto;
    }
    &__register {
        width: 150px;
        background-color: #c99c47;
        color: #ffffff;
    }
    &__subscribe {
        width: 150px;
        background-color: #323232;
        color: #ffffff;
    }
}